project:
  type: website
  output-dir: docs
  resources:
    - images/

website:
  title: "seowoo"   # 텍스트도 함께 보이게 할 거면 유지'
  favicon: images/clover.png      # ← 탭 아이콘(파비콘)
  navbar:
    left:
      - text: About
        href: about.qmd
      - text: Blog
        href: posts.qmd
      # Home 항목은 제거!

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    citation-style: _resources/apa.csl

editor: visual

